services:
    db:
        image: mysql:8.0
        container_name: mysql
        restart: always
        environment:
            MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
            MYSQL_DATABASE: ${MYSQL_DATABASE}
            MYSQL_USER: ${MYSQL_USER}
            MYSQL_PASSWORD: ${MYSQL_PASSWORD}
        ports:
            - "3306:3306"
    phpmyadmin:
        image: phpmyadmin
        container_name: phpmyadmin
        ports:
            - "8080:80"
        environment:
            PMA_HOST: db
            MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
        depends_on:
            - db
        restart: always
    app:
        build:
            context: .
            dockerfile: Dockerfile.dev
        container_name: spring-boot
        ports:
            - "8081:8081"
        volumes:
        - ./app:/app # Mapeamos todo el proyecto
        depends_on:
            - db
        restart: always


